section{
    min-height: 80vh;
    max-width:1100px;
    margin:0 auto;
    padding: 5rem 1.5rem;
}
a{
    text-decoration: none;
}
.logo{
    background-color: rgb(65, 61, 61);
    color:white;
    padding:0.05rem 0.25rem;
    font-weight: bold;
    letter-spacing: 2px;
}
html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}
:root{
    --color-bg: black;
    --color-text: #b9b5b5;
    --color-primary: #4fd1c5;
    --color-white:white;
}
header{
    background:transparent;
    position: sticky;
    top:0;
    z-index: 200;
    background-color: var(--color-primary);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin:0 auto;
    padding:1rem 1.5rem;
}
nav a{
    color:var(--color-bg);
    transition: transform 0.2s;
}
nav a:hover{
    opacity: 0.7;
    transform: scale(1.1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg);
    color:var(--color-text);
    font-family: "DM Sans", system-ui, sans-serif;
    line-height: 1.7;
}
.links{
    display: flex;
    gap: 1.5rem;
}
h1{
    font-weight: bold;
    font-size: 65px;
    color:white;
    font-family: "Space Grotesk", system-ui, sans-serif;
}
.q1{
    color:var(--color-primary);
    font-size: 20px;
}
#home{
    display: flex;
    min-height: 80vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
   
}
p{
    max-width: 620px;
}
.btn{
    display:inline-block;
    margin-top: 20px;
    background-color:rgb(38, 37, 44);
    color:white;
    padding: 0.5rem 1.2rem;
    border: 2px solid var(--color-text);
    border-radius: 999px;
    font-size:20px;
    transition:transform 0.2s;
}
.btn:hover{
    background-color: rgb(122, 117, 139);
    transform:scale(1.05);
}
.q2{
    font-size: 30px;
}
.ab{
    font-size: 20px;
    gap:1.4rem;
    margin-top:20px;
    align-content: justify;
    color:var(--color-white);
    font-family:  "DM Sans", system-ui, sans-serif;
    text-decoration: none;
}
h2{
    font-family: "Space Grotesk", system-ui, sans-serif;
}
.skills{
    margin-top: 15px;
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
    gap:0.9rem;
}
.tag{
    background-color:rgb(38, 37, 44);
    color:white;
    margin-top: 20px;
    padding: 0.5rem 1.2rem;
    border:2px solid white;
    border-radius: 999px;
    transition:transform 0.2s;
}
.tag:hover{
    background-color: rgb(122, 117, 139);
    transform:scale(1.05);
}
#skills{
    min-height: 50vh;
}
section + section {
    border-top: 1px solid turquoise;
}
.hometab{
    display: flex;
    gap:1rem;
}